/*
===================
Footer
===================
*/
footer {
    display: block;
    top: 100;
    bottom: 0;
    background-color: white;
    height: 60px;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #CCCCCC;
}
footer p {
    display: flex;
    justify-content: center;
    align-items: center;
}
