/*
===================
Header
===================
*/
header {
    top: 0;
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
}

header picture {
    display: inline-block;
    padding-left: 20px;
}
